@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');



body {
    width:1890px;
    font-family: 'Sawarabi Gothic', sans-serif;
    
}



div {
 border : 1px solid #FFFF;
	/* border : 1px solid black; */
}



header {
    width:100%;
    height:5.8%;
}

#nav_bar {
    width:99.6%;
    height:5.1%;
    position: fixed;
    z-index: 100;
}

#nav_bar>div {
    width:33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    height:100%;
    float: left;
}

#nav_bar_menu ul li {
    list-style: none;
    float: left;
    /* 글씨간 간격 */
    margin: 14px;
    margin-top: 10px;
}

#nav_bar_menu ul li a {
    font-size: 15px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav_bar_menu ul li a:hover {
    color: dimgray;
}

#nav_bar_menu ul li:first-child {
    margin-left: 160px;
}

#nav_bar_logo {
    text-align: center;
}

#nav_bar_logo a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight:bold;
}

#cart {
    height:100%;
    width:6%;
    float:left;
}

#cart>a {
    text-decoration: none;
    margin-top: 13px;
}

#login {
    height:100%;
    width:37%;
    float:left;
}

#login>a {
    text-decoration: none;
    margin-top: 13px;
}


/* 검색창 css 부분 */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  display: inline-block;
  height: 40px;
  padding: 0;
  position: relative;
  float: left;
  height:100%;
  width:57%;
}
/* 
input[type="text"] {
  height: 40px;
  font-size: 16px;
  display: inline-block;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 20;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid black;
}

input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid black;
  cursor: text;
}
input[type="submit"] {
  margin-top: 3px;
  height: 40px;
  width: 40px;
  display: inline-block;
  float: right;
  background: url(https://ifh.cc/g/YsbNTw.png);
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
} */

section {
    width:100%;
    height:94%;
}

#section_empty {
    width:100%;
    height:4%;
    float: left;
}

#section_contents {
    width:100%;
    height: 89.2%;
    float: left;
}

#section_contents_empty {
    width:25%;
    height:100%;
    float:left;
}

#section_contents_write {
    width:50%;
    height:100%;
    float:left;
}

#basket_1 {
    text-align: center;
    font-size:14px
}

#basket_1 tr td {
    vertical-align: middle;
}





#empty_space2 {
    width:10%;
    height : 100%;
    float:left
}

footer {
    width:100%;
    height:6%;
}

#footer_icon {
    width:10%;
    height:100%;
    float: left;
    text-align: right;
}

#footer_contents {
    width:30%;
    height:100%;
    float: left;
}

#footer_contents ul li {
    list-style: none;
    font-size: 17px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

#footer_empty {
    width:100%;
    height:100%;
    float: left;
}

#footer_icon_split {
    width:100%;
    height:100%;
    float: left;
}

#footer_contents1 {
    width:100%;
    height:100%;
    float: left;
}